<h1>Add a new link!</h1>
<form action="/links" method="post">
  <label for="URL">
    URL
    <input type="text" name="URL">
  </label>
  <label for="title">
    Title
    <input type="text" name="title">
  </label>
  <input type="submit" name="Add" value="Add">
</form>
